/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "languages";
 @import "navbar";

 body html {
  margin: 0;
  padding:0;
 }

 .fixed-background-img {

   background-image: url('background_1.jpg');

   background-image: url('shiba1.jpg');

   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: hsla(10,100%,100%,0.50);
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   position: fixed;
   z-index: -100;
   height: 100vh;
   width: 100%;
 }

 .backgroundimg {
    margin: 0;
 }
